# Apriori Algorithm

### Logical Implication

- {Bread}=>{Milk}
- Rule indicates the frequency of person buying milk if he alrdy brought bread
- support is an indications of how freuently it has occured

# Assosiation Learning

In [2]:
ds=[["Bread","Milk","Beer"],
      ["Bread","Diapers","Eggs"],
      ["Milk","Diapers","Beer","Cola"],
      ["Bread","Milk","Diapers","Beer"],
      ["Bread","Milk","Cola"]]

In [5]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
te = TransactionEncoder()
te=te.fit(ds) #Reads all unique items from the dataset
te_ary=te.transform(ds) #Converts array into coded matrix
print(te_ary)
print(te.columns_)

[[ True  True False False False  True]
 [False  True False  True  True False]
 [ True False  True  True False  True]
 [ True  True False  True False  True]
 [False  True  True False False  True]]
['Beer', 'Bread', 'Cola', 'Diapers', 'Eggs', 'Milk']

In [6]:
df=pd.DataFrame(te_ary,columns=te.columns_)
print(df)

    Beer  Bread   Cola  Diapers   Eggs   Milk
0   True   True  False    False  False   True
1  False   True  False     True   True  False
2   True  False   True     True  False   True
3   True   True  False     True  False   True
4  False   True   True    False  False   True

In [7]:
from mlxtend.frequent_patterns import apriori

# Finds the frequency of the line 
frequent_itemsets=apriori(df,min_support=0.4,\
           use_colnames=True)
frequent_itemsets

    support               itemsets
0       0.6                 (Beer)
1       0.8                (Bread)
2       0.4                 (Cola)
3       0.6              (Diapers)
4       0.8                 (Milk)
5       0.4          (Beer, Bread)
6       0.4        (Diapers, Beer)
7       0.6           (Milk, Beer)
8       0.4       (Diapers, Bread)
9       0.6          (Milk, Bread)
10      0.4           (Milk, Cola)
11      0.4        (Milk, Diapers)
12      0.4    (Milk, Beer, Bread)
13      0.4  (Milk, Diapers, Beer)

In [18]:
from mlxtend.frequent_patterns import association_rules
rules=association_rules(frequent_itemsets,metric="support",\
                       min_threshold=0.6)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Milk),(Beer),0.8,0.6,0.6,0.75,1.2500,0.12,1.6
1,(Beer),(Milk),0.6,0.8,0.6,1.00,1.2500,0.12,inf
2,(Milk),(Bread),0.8,0.8,0.6,0.75,0.9375,-0.04,0.8
3,(Bread),(Milk),0.8,0.8,0.6,0.75,0.9375,-0.04,0.8

In [19]:
d=rules[rules['confidence']>0.8]
d

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
1,(Beer),(Milk),0.6,0.8,0.6,1.0,1.25,0.12,inf

In [21]:
cartitem=["Milk"]
rules[rules["antecedents"].apply(lambda x: set(cartitem).issubset(set(x)))]
ml=list(rules["consequents"])
print(ml)

[frozenset({'Beer'}), frozenset({'Milk'}), frozenset({'Bread'}), frozenset({'Milk'})]