In [19]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.style
import matplotlib as mpl
mpl.style.use('classic')

In [20]:
df=pd.read_excel('data/terror.xlsx')

In [21]:
df=df.dropna()

In [25]:
vict=[]
yr=[]
for x,y in df.groupby('year'):
    yr.append(x)
    vict.append(y['victims'].count())

In [26]:
df1 = pd.DataFrame(yr,vict)

In [27]:
df1

         0
1128  2000
1043  2001
841   2002
1720  2003
1619  2004
1926  2005
1569  2006
1721  2007
1605  2008
1930  2009
2160  2010
1498  2011
1671  2012
1493  2013
552   2014