#

# Basics of Python

In [1]:
print('You are Awesome')

You are Awesome

In [3]:
a=5
b=6.4
print(a+b)
print('haha')

11.4
haha

In [5]:
for i in range(12):
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11

In [8]:
print("Hey,I was doing just fine before i met you i think too much and thats an issue but i am okay!")
print(type("Hey"))

Hey,I was doing just fine before i met you i think too much and thats an issue but i am okay!
<class 'str'>

In [14]:
print(3+2)
print(3-2),print(3/2)
print(3*2)
print(3%2)
print(3/2)

5
1
1.5
6
1
1.5

In [1]:

list=[1,6,2,4.4,6.4]
print(list)
print(type(list))

[1, 6, 2, 4.4, 6.4]
<class 'list'>

In [22]:
list[-1]

25

In [23]:
list

[1, 1, 2, 4.4, 6.4, 6, 8, 2, 836, 235, 'krithik', 25]

In [24]:
print(3/2)

1.5

In [25]:
list1=[3.4,5,6,26,7,'krithika',204]
list[2]=list1

In [26]:
print(list)

[1, 1, [3.4, 5, 6, 26, 7, 'krithika', 204], 4.4, 6.4, 6, 8, 2, 836, 235, 'krithik', 25]

In [32]:
for i in range(len(list)):
    print(list[i])
    print(type(list[i]))

1
<class 'int'>
1
<class 'int'>
[3.4, 5, 6, 26, 7, 'krithika', 204]
<class 'list'>
4.4
<class 'float'>
6.4
<class 'float'>
6
<class 'int'>
8
<class 'int'>
2
<class 'int'>
836
<class 'int'>
235
<class 'int'>
krithik
<class 'str'>
25
<class 'int'>

In [79]:
a='str'
b='str2'
print(a+b)

strstr2

# appending

In [2]:
print(len(list))
print(list)
list.append(3)
list[3]=5
print(len(list))
print(list)

5
[1, 6, 2, 4.4, 6.4]
6
[1, 6, 2, 5, 6.4, 3]

In [87]:
list1=[1,2,3,4,5,6,7,8,9,10]
print(list1[0:10:2]),print(list1)
print(list1[3:4])#it will slice the given list
print(list1[0:5])
print(list1[1:5])

print(list1[0:10:2])#:2 gives the step value of the slice
print(list1[1:10:2])

print(list1[:10:3])#takes first index as 0
print(list1[3:])#take the last index as len(list1)

[1, 3, 5, 7, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[4]
[1, 2, 3, 4, 5]
[2, 3, 4, 5]
[1, 3, 5, 7, 9]
[2, 4, 6, 8, 10]
[1, 4, 7, 10]
[4, 5, 6, 7, 8, 9, 10]

In [72]:
list1[-4:]

[7, 8, 9, 10]

In [73]:
list1[-4::2]

[7, 9]

In [91]:
list1[:-1]

[1, 2, 3, 'a', 4, 5, 6, 7, 8, 9, 10]

# .Insert,.replace,.remove keyword

In [118]:
ahaa='a'
list1.insert(3,ahaa)#it insert the value before the given index(here it is 3) so it inserts at index 2
print(list1)
list1.remove(list[3])
print(list1)

[1, 'a', 'a', 'a', 'a', 'b', 'b', 'b', 4, 5, 6, 7, 8, 9, 10, 'b']
[1, 'a', 'a', 'a', 'a', 'b', 'b', 'b', 4, 6, 7, 8, 9, 10, 'b']

In [119]:
list1.insert(5,ahaa)

In [120]:
# REPLACE
SearchElement='a'
ReplaceElement='b'
for i in range(len(list1)):
    if(list1[i]==SearchElement):
        list1[i]=ReplaceElement
print(list1)

[1, 'b', 'b', 'b', 'b', 'b', 'b', 'b', 'b', 4, 6, 7, 8, 9, 10, 'b']

# SORT

In [121]:
list2=[13,43,635,21314,1,34,7,57,2,486,2,35,67,2]
list2.sort()
print(list2)
#DESCENDING
list2.sort(reverse=True)
print(list2)

[1, 2, 2, 2, 7, 13, 34, 35, 43, 57, 67, 486, 635, 21314]
[21314, 635, 486, 67, 57, 43, 35, 34, 13, 7, 2, 2, 2, 1]