# strings

In [2]:
str="good morning"
print(str[2])

o

In [63]:
str="hello all"
print(str[:5])
print(str[::-1])

hello
lla olleh

In [7]:
str1="hello"
str2="world"
print(str1==str2)
print(str1*3)

False
hellohellohello

# formating of strings

In [19]:
n=12
m=2.44
print("%d"%(m))
#second method
print("value of n is{0}".format(n))
print("value of mis {1}and value of n is {0}".format(m,n))

2
value of n is12
value of mis 12and value of n is 2.44

In [30]:
str="cat mini sai"
print(str.startswith("sai"))
print(str.endswith("cat"))
print(str.startswith("mini",4,8))

False
False
True

In [41]:
str="cat apple mango dog"
print(str.startswith("og",17,19))

True

# USER INPUT

In [43]:
n=type(input("enter n value"))
print(n)

enter n value90
<class 'str'>

In [9]:
str="cat,dog,ant,deer"
name=str.split(",")
print(name)
print(type(name))
name2=str.split(",",2)
print(name2)

['cat', 'dog', 'ant', 'deer']
<class 'list'>
['cat', 'dog', 'ant,deer']

In [2]:
sep="-"
date=sep.join(("26","11","2019"))
print(type(date))
print(date)
date=sep.join(["26","11","2019"])
print(type(date))

<class 'str'>
26-11-2019
<class 'str'>

In [5]:
sep="-"
date=sep.join(("26","11","2019"))
print(type(date))
date=sep.join(["26","11","2019"])
print(type(date))

<class 'str'>
<class 'str'>

# conditional statments

In [45]:
n=-2
if (n<0):
    print("negative")
else:
    print("positive")

negative

In [47]:
print(n)

-2

## tuples

In [49]:
tuple1=(1,2,34,"sai",100)
print(tuple1)

(1, 2, 34, 'sai', 100)

In [55]:
print(tuple1[2])
print(tuple1[1::2])

34
(2, 'sai')

In [62]:
print(tuple1[::-1])

(100, 'sai', 34, 2, 1)

# Dictionary
creating,accesing

In [67]:
dic={"jan":1,"feb":2,"march":3}
print(dic)
print(dic["jan"])

{'jan': 1, 'feb': 2, 'march': 3}
1

In [71]:
#updating dictionary
dic={"jan":33,"feb":34,"may":35}
dic["march"]=33
print(dic)
dic["may"]=12
print(dic)
#deleting
del dic["march"]
print(dic)

{'jan': 33, 'feb': 34, 'may': 35, 'march': 33}
{'jan': 33, 'feb': 34, 'may': 12, 'march': 33}
{'jan': 33, 'feb': 34, 'may': 12}

In [72]:
dic={"jan":1,"feb":12,[23,11,23]:33}# keys are immutable 
print(dic)

TypeError: unhashable type: 'list'

In [81]:
dic={"jan":2,"jan":33,"feb":2}# keys are unique
print(dic["jan"])
print(dic)
print(len(dic))
print(dic.get("jan",None))
print(dic.get("jan",33))
print(dic.get("may",None))#no such key
print(dic.get("feb",22))
print(dic)

33
{'jan': 33, 'feb': 2}
2
33
33
None
2
{'jan': 33, 'feb': 2}

In [85]:
dic={"jan":2,"feb":22,"march":44}
print(dic.items())
print(type(dic.items()))
print(list(dic.items()))
print(type(list(dic.items())))

dict_items([('jan', 2), ('feb', 22), ('march', 44)])
<class 'dict_items'>
[('jan', 2), ('feb', 22), ('march', 44)]
<class 'list'>

In [87]:
print(dic.keys())
print(type(dic.keys()))
print(list(dic.keys()))
print(type(list(dic.keys())))
print(list(dic.values()))

dict_keys(['jan', 'feb', 'march'])
<class 'dict_keys'>
['jan', 'feb', 'march']
<class 'list'>
[2, 22, 44]

# loops

In [93]:
print(list(range(10)))
a=list(range(10))
print(a)
print(list(range(2,10,3)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 5, 8]

for loop

In [98]:
for n in list(range(1,11)):
    print(n)

1
2
3
4
5
6
7
8
9
10

In [102]:
print("pratyusha","mini",sep="#",end="@")
print("me")

pratyusha#mini@me

In [104]:
list1=[1,2,3,"mini"]
for n in list1:
    print(n,end=" ")

1 2 3 mini

In [113]:
for n in (range(1,11)):
    if(n%2!=0):
        print("***", n ,"***")
    else:
        print("   ",n)

*** 1 ***
    2
*** 3 ***
    4
*** 5 ***
    6
*** 7 ***
    8
*** 9 ***
    10

WHILE LOOP

In [127]:
list1=[1 ,2,3,4,5 ]
while(len(list1)>0):
    print(list1)
    del list1[-1]

[1, 2, 3, 4, 5]
[1, 2, 3, 4]
[1, 2, 3]
[1, 2]
[1]

In [1]:
n=5
add=0
while(n>0):
    add+=n
    n-=1
print(add)

15

In [4]:
s=dict()
s[1]=3
s[8]=5
print(s)

{1: 3, 8: 5}